* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: scroll;
}

.dashboard-container {
  min-width: 20vw;
  min-height: 65vh;
  align-items: center;
}

.nav-container {
  padding-top: 1rem;
  margin-left: auto;
  position: absolute;
  width: 100%;
  height: 10%;
  z-index: 7;
  /* display: flex; */
  align-items: center;
}

.nav-logo-container {
  width: 30px;
  margin-left: 10px;
  background-color: white;
  width: 60px;
  height: 40px;
}

.nav-button {
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s;
  backdrop-filter: blur(5px);
  background-color: transparent;
}

.nav-button:hover {
  opacity: 0.7;
}

.nav-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar-container {
  backdrop-filter: blur(5px);
  position: absolute;
  height: calc(100vh - 50px);
  bottom: 0;
  left: 0;
  width: 12%;
  height: 100%;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  color: white;
  z-index: 100;
}

.sidebar-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  font-weight: "bold";
  color: white;
  text-align: "center";
  margin-bottom: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
}

.sidebar-title:hover {
  opacity: 0.7;
}

.sidebar-subtitle {
  font-size: 12px;
  margin-bottom: 20px;
  color: gray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.sidebar-list-item {
  display: flex;
  width: 100%;
  margin-top: 10px;
  padding: 1px 3px;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  outline: 1px solid;
  outline-color: transparent;
  transition: all 0.2s ease;
}

.sidebar-list-username {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  color: #0e0e10;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.sidebar-list-status {
  font-size: 14px;
  font-weight: bold;
  color: #0e0e10;
  cursor: pointer;
  transition: 0.3s;
}

.content-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  color: #202020;
  flex-direction: row;
  margin-inline: auto;
  padding-left: 5rem;
}

.m-left {
  padding-left: 150px;
}

.channels-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 100%;
}

/* .channels-card {
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.5);
  border-radius: 10px;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  height: 300px;
  overflow: hidden;
  margin-right: 20px;
  max-width: 27rem;
} */

.channels-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  background-color: rgba(239, 101, 149, 0.7); /* Transparent pink background */
  cursor: pointer;
}

.channels-card:hover {
  transform: scale(1.1);
}

.channels-avatar-container {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 75%;
  padding: 3%;
}

.rounded-corners {
  border-radius: 10px;
}

.channels-card-content {
  display: flex;
 
  flex-direction: column;
  padding-inline: 0.5rem;
  height: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.channels-card-content * {
  flex-grow: 1;
}

.channels-avatar-container img {
  object-fit: cover;
}

.channels-card-title {
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  margin-top: 5px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.channels-card-text {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 0.9em;
  display: flex;
  color: #ffffff;
  font-style: italic;
}
.rounded-corners {
  border-radius: 8px;
}

.channels-card-text:last-child {
  text-align: end;
}

.settings-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 24px;
  margin-left: 20px;
  margin-top: 36px;
  border-radius: 10px;
  text-align: left;
}

/* Add this to your existing dashboardPage.css file */

.channels-avatar-container {
  width: 100%;
  height: 220px; /* Set the desired fixed height for the images */
  overflow: hidden;
}

.channels-avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
}

/* ... (other styles remain the same) */

.settings-form {
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.7);
  float: left;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.7);
  width: 500px;
  padding: 10px;
  font-size: 16px;
}

.settings-form-password {
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.7);
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.7);
  width: 500px;
  padding: 10px;
  font-size: 16px;
}

.settings-form button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(189, 33, 59);
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  transition: 0.3s;
}

.settings-form-password button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(189, 33, 59);
  color: white;
  border: none;
  cursor: pointer;
  width: 50%;
  border-radius: 10px;
  transition: 0.3s;
}

.settings-form input {
  background-color: #202020;
  color: white;
  border-style: solid;
  border-color: #707070;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.settings-form-password input {
  background-color: #202020;
  color: white;
  border-style: solid;
  border-color: #707070;
  border-radius: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.settings-form textarea {
  background-color: #202020;
  color: white;
  border-style: solid;
  border-color: #707070;
  border-radius: 10px;
  padding-left: 10px;
}

.settings-form button:hover {
  opacity: 0.7;
}

.settings-form button:disabled {
  opacity: 0.3;
}

.settings-stream-key-container {
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.7);
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 105px;
  margin-right: 20px;
  box-shadow: 1rem 1rem 2rem 0 rgba(0, 0, 0, 0.7);
  padding: 10px;
  left: 10;
}

.channel-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.channel-video-description-section {
  height: 100%;
  width: 80%;
  padding-top: 1rem;
}

.channel-video-container {
  width: 100%;
}

.channel-description-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 1rem;
  max-height: 25%;
  color: white;
  width: 60%;
}

.channel-description-box {
  height: 20%;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.channel-description-title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.channel-description-subtitle {
  font-size: 20px;
  padding-bottom: 0.5rem;
}

.channel-offline-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}

.chat-section {
  width: 30%;
  height: 90vh;
  margin-top: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-inline: 1rem;
}

.chat-title-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 20%;
  backdrop-filter: blur(5px);
}

.chat-title-text {
  font-size: 1.5rem; /* 1rem = 16px */
  font-weight: 600;
  text-shadow: 0 0 2px whitesmoke;
  padding: 0.3rem 0.7rem;
  color: white;
}

.chat-messages-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.chat-messages-message {
  padding: 5px 5px 10px 10px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  font-size: 16px;
  max-width: 80%;
}

.chat-input-section {
  min-height: 60px;
  position: absolute;
  bottom: 0;
  z-index: 5px;
  backdrop-filter: blur(5px);
}

.chat-message-input {
  width: 100%;
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 5px;
  padding-left: 0.3rem;
  background-color: white;
  color: black;
}

.chat-section::-webkit-scrollbar {
  width: 6px;
}

.chat-section::-webkit-scrollbar-thumb {
  background-color: #474747;
  border-radius: 10px;
}

.channel-follow-button {
  margin-left: 3rem;
  padding: 0.1rem 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.channel-follow-button:hover {
  border-radius: 0;
  box-shadow: 0 0 1rem #950b77;
  text-shadow: 0 0 3px white;
}

.channel-follow-button:disabled {
  opacity: 0.2;
}

.spinner-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
